<!doctype html>
<html ng-app="myApp">

<head>
    <title>Story Maker</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/comments.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>

<body>
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>

        <p>Create a story one line at a time! Create a story with everyone by writing one sentence at a time.</p>
        <form id="commentForm" action="">
            <label for="name">Name: </label>
            <input type="text" id="name" name="username" ng-model="user.username" disabled>
            <label for="comment">Sentence: </label><input type="text" id="comment" placeholder="Comment">
            <button class="btn btn-info" id="postComment">Post Sentence</button>
        </form>
        <button class="btn btn-info" id="getComments">Get Story</button>
        <button class="btn btn-info" id="deleteComments">Delete All</button>
        <div id="comments"></div>


    </div>
    <hr style="visibility: hidden">
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr style="visibility: hidden">
    <span id="colorText">
    Movie:
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>

</html>
