<!doctype html>
<html>
    
<head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <title>User Login and Sessions</title>
</head>
        
<body>  
    <div class="form-container">
        <p class="marquee"><span> 机 10 01100 机 100 机机机 100001110 ____________ Welcome. I am Swarm-Mind Story Maker 2077 ______ 0100 100 故事 ____________ You are strongly encouraged to login or register 机 10 01100 机 100 机机机 100001110  Failure to participate will result in [disciplinary_subroutine_7] </span></p>        <image class="eye" src="stylesheets/eye.gif"></image>
        <image class="mesh" src="stylesheets/mesh.gif"></image>
        
        <form class="theForm" method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div>
    <a id="signUpLink" href="/signup">Sign Up</a>
    <hr style="visibility: hidden">
    <span id="loginMsg">
    <%= msg %>
    </span>
</body>
        
</html>